personal_ssh_key        = ""
do_token                = ""
email_tag               = "user_at_mail_com"
current_task_tag        = "task_name:"
company_ssh_key_name    = ""
company_aws_dns_name    = ""
login                   = ""
aws_access_key          = ""
aws_secret_key          = ""
root_password           = ""
personal_ssh_key_path   = ""